In [1]:
import pandas as pd
data = pd.read_csv('https://datautmexample.s3.amazonaws.com/COVID-19_Case_Surveillance_Public_Use_Data.csv')

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
data.head(5)

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,death_yn,medcond_yn
0,2020/11/10,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Unknown,No,No
1,2020/11/14,2020/11/10,2020/11/10,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
2,2020/11/19,2020/11/10,2020/11/09,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
3,2020/11/14,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,No,Missing
4,2020/11/13,2020/11/10,2020/11/10,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,Yes

In [4]:
data.info

<bound method DataFrame.info of         cdc_report_dt pos_spec_dt    onset_dt             current_status  \
0          2020/11/10  2020/11/10         NaN  Laboratory-confirmed case
1          2020/11/14  2020/11/10  2020/11/10  Laboratory-confirmed case
2          2020/11/19  2020/11/10  2020/11/09  Laboratory-confirmed case
3          2020/11/14  2020/11/10         NaN  Laboratory-confirmed case
4          2020/11/13  2020/11/10  2020/11/10  Laboratory-confirmed case
...               ...         ...         ...                        ...
8405074    2020/10/22         NaN         NaN              Probable Case
8405075    2020/10/25         NaN         NaN  Laboratory-confirmed case
8405076    2020/07/18         NaN         NaN  Laboratory-confirmed case
8405077    2020/11/19         NaN         NaN  Laboratory-confirmed case
8405078    2020/11/03         NaN         NaN  Laboratory-confirmed case

             sex      age_group Race and ethnicity (combined)  hosp_yn  \
0           Male  10 - 19 Years           Black, Non-Hispanic       No
1           Male  10 - 19 Years           Black, Non-Hispanic       No
2           Male  10 - 19 Years           Black, Non-Hispanic       No
3           Male  10 - 19 Years           Black, Non-Hispanic  Missing
4           Male  10 - 19 Years           Black, Non-Hispanic       No
...          ...            ...                           ...      ...
8405074  Missing  30 - 39 Years                       Unknown       No
8405075  Missing  30 - 39 Years                       Unknown  Missing
8405076  Missing  30 - 39 Years                       Unknown  Missing
8405077  Missing  30 - 39 Years                       Unknown  Missing
8405078  Missing  30 - 39 Years                       Unknown       No

          icu_yn death_yn medcond_yn
0        Unknown       No         No
1             No       No         No
2             No       No         No
3        Missing       No    Missing
4             No       No        Yes
...          ...      ...        ...
8405074  Unknown       No    Missing
8405075  Missing  Missing    Missing
8405076  Missing  Missing    Missing
8405077  Missing  Missing    Missing
8405078  Unknown       No    Missing

[8405079 rows x 11 columns]>

In [5]:
AL = data.sex.value_counts()

In [7]:
pd.DataFrame(AL)

             sex
Female   4340898
Male     3970591
Unknown    73845
Missing    19520
Other        207

In [10]:
new_df = pd.DataFrame(data["sex"].str.split(',', expand=True).stack(), columns=["sex"])

In [12]:
new_df.groupby(["sex"])["sex"].count()

sex
Female     4340898
Male       3970591
Missing      19520
Other          207
Unknown      73845
Name: sex, dtype: int64

In [14]:
new_df.describe()

            sex
count   8405061
unique        5
top      Female
freq    4340898